body { font-size: 12px; width: auto; overflow: visible; margin: 0; padding: 0; }

.tickers {

}

.tickers tr.red td.price,
.tickers tr.red td.change {
    color: red!important;
    font-weight: bold;
}

.tickers tr.green td.price,
.tickers tr.green td.change {
    color: #23ae5e!important;
    font-weight: bold;
}

.tickers tr.red td.spread.red {
    color: red!important;
    font-weight: bold;
}

.tickers tr.red td.spread.green {
    color: #23ae5e!important;
    font-weight: bold;
}

th.pair button {
    /*font-size: 20px!important;*/
}

table.md-table th.md-column md-icon {
    height: 20px;
    width: 20px;
    font-size: 20px!important;
    line-height: 20px!important;
}

table.md-table th.md-column button.no-active i {
    color: #ccc;
}