<!DOCTYPE html>
<html ng-app="AbccTools">
<head>
  <title>ABCC Toole</title>

  <link rel="stylesheet" type="text/css" href="/lib/angular-material.min.css">
  <link rel="stylesheet" type="text/css" href="/lib/md-data-table.min.css">

  <link rel="stylesheet" type="text/css" href="/icons/cryptocoins.css">
  <link rel="stylesheet" type="text/css" href="/icons/cryptocoins-colors.css">

  <link rel="stylesheet" type="text/css" href="/css/icon.css">
  <link rel="stylesheet" type="text/css" href="/css/login.css">
  <link rel="stylesheet" type="text/css" href="/css/popup.css">

  <script type="text/javascript" src="/lib/jquery.min.js"></script>
  <script type="text/javascript" src="/lib/angular.min.js"></script>

  <script type="text/javascript" src="/lib/angular-animate.min.js"></script>
  <script type="text/javascript" src="/lib/angular-aria.min.js"></script>
  <script type="text/javascript" src="/lib/angular-messages.min.js"></script>
  <script type="text/javascript" src="/lib/angular-material.min.js"></script>
  <script type="text/javascript" src="/lib/md-data-table.min.js"></script>

  <script type="text/javascript" src="/js/content_scripts.js"></script>

  <style>
    table.md-table th.md-column,
    table.md-table td.md-cell {
      padding: 0 5px!important;
      font-size: 12px!important;
    }
  </style>
</head>

<body>
  <div ng-controller="Controller" ng-cloak>

    <div ng-if="isLogin">

      <div style="width: 500px" ng-cloak>
        <md-content>
          <md-tabs md-dynamic-height md-border-bottom>
            <md-tab label="TICKERS">
              <md-content class="md-padding tickers">

                <md-table-container>
                  <table md-table  multiple ng-model="selected">
                    <thead md-head md-order="ticker_sort" md-on-reorder="Sorting">
                    <tr md-row>
                      <th md-column class="pair" style="width: 100px">
                        <md-button class="md-icon-button" ng-class="ticker_pair != 'btc' ? 'no-active' : 'active'" ng-click="ticker_pair = 'btc'">
                          <md-icon><i class="cc BTC"></i></md-icon>
                        </md-button>
                        <md-button class="md-icon-button" ng-class="ticker_pair != 'eth' ? 'no-active' : 'active'" ng-click="ticker_pair = 'eth'">
                          <md-icon><i class="cc ETH"></i></md-icon>
                        </md-button>
                        <md-button class="md-icon-button" ng-class="ticker_pair != 'usdt' ? 'no-active' : 'active'" ng-click="ticker_pair = 'usdt'">
                          <md-icon><i class="cc USDT"></i></md-icon>
                        </md-button>
                      </th>
                      <th md-column md-numeric>Price</th>
                      <th md-column md-numeric md-order-by="tick.spread">Spread</th>
                      <th md-column md-numeric md-order-by="tick.change">Change</th>
                    </tr>
                    </thead>
                    <tbody md-body>
                    <tr md-row ng-repeat="tick in ticker | filter: { quote_unit: ticker_pair }" ng-class="tick.change >= 0 ? 'green' : 'red'">
                      <td md-cell>
                        <i style="padding-right: 5px; position: relative; float: left; font-size: 25px!important;" class="cc {{tick.base_unit.toUpperCase()}}"></i>
                        <div>
                          <span><b>{{tick.quote_unit.toUpperCase()}}</b>/{{tick.base_unit.toUpperCase()}}</span>
                          <span style="display: block; ">vol: {{tick.volume | number:0 }}</span>
                        </div>
                      </td>
                      <td md-cell class="price">{{tick.sell}}</td>
                      <td md-cell class="spread" ng-class="tick.spread <= 0.5 ? 'red' : 'green'">{{tick.spread | number:2 }}</td>
                      <td md-cell class="change">{{tick.change| number:2}}</td>
                    </tr>
                    </tbody>
                  </table>
                </md-table-container>


              </md-content>
            </md-tab>
            <md-tab label="ACCOUNT">
              <md-content class="md-padding">
                <p>on development stage...</p>
              </md-content>
            </md-tab>
            <md-tab label="NEWS">
              <md-content class="md-padding">
                <p>on development stage...</p>
              </md-content>
            </md-tab>
            <md-tab label="ORDERS">
              <md-content class="md-padding">
                <p>on development stage...</p>
              </md-content>
            </md-tab>
            <md-tab label="BOT">
              <md-content class="md-padding">
                <p>on development stage...</p>
              </md-content>
            </md-tab>
          </md-tabs>
        </md-content>
      </div>

    </div>

    <div ng-if="!isLogin">
      <div class="login row">
        <div class="col left">
          <h1>ABCC.COM</h1>
          <ul>
            <li><b>High Liquidity</b> - Efficient tradings Low transaction fees</li>
            <li><b>Reliability</b> - Operating 24/7</li>
            <li><b>Security</b> - Rich experiences in digital asset services and financing Professional distributed structure and Anti DDoS Protection</li>
            <li><b>Multiple Investment</b> - Provide various investment targets, including crypto exchange and options, based on users risk preference</li>
          </ul>
        </div>
        <div class="col right">
          <a class="login" href="https://abcc.com/signin" target="_blank">Login</a> OR <a class="register" href="https://abcc.com/at_invitation/share?aff=0ec814" target="_blank">Register</a>
        </div>
      </div>
    </div>
  </div>

</body>
</html>
